.heroSection {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;
  height: 400px;
  background: linear-gradient(to right, #5b6466, #6b6d72, #685862);
  color: white;
 
}
h1{
    font-size: 48px;
    font-weight: 700px;
}
.portfolio-image {
  width: 250px; /* 48 * 4 */
  height: 250px; /* 48 * 4 */;
  margin: 0 5rem;
  border-radius: 20px;
}
button {
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px;
  transition: background-color 0.3s ease;
}
.btn-download {
  background: transparent;
  color: white;
  border: 1px solid white;
}
.btn-download:hover {
  background: white;
  color: black;
}