@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #43B6D7, #7A9AE3, #ED9CCC);
  color: white;   
  font-family: 'Arial', sans-serif;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.card{
 backdrop-filter: blur(10px);
 background: rgba(255,255,255,0.1);
 border-radius: 15px;
 padding: 20px;
 box-shadow: 0 8px 30px rgba(0,0,0,0.2);
}